header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    & nav ul{
        display: flex;
        gap: 26px;
        list-style: none;
        & li a{
            font-size: 16px;
            color: black;
        }
    }
}